{% if user is defined and user.countryFlag is defined %}
	<div class="kt-header__topbar-item kt-header__topbar-item--user">
		<div class="kt-header__topbar-wrapper" data-offset="0px,0px">
			<div class="kt-header__topbar-user">
				<span class="kt-header__topbar-username kt-hidden-mobile">{{ user.countryFlag.countryName ?? '' }}</span>
				<img src="{{ user.countryFlag.flag ?? '' }}">
			</div>
		</div>
	</div>
{% endif %}
